<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>65700282049-5h5kl8gvem22r7utk6tirhlf0qt107kf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.65700282049-5h5kl8gvem22r7utk6tirhlf0qt107kf</string>
	<key>API_KEY</key>
	<string>AIzaSyBpqf1y4FMVb91PLOo0UiHUTa6v528JREc</string>
	<key>GCM_SENDER_ID</key>
	<string>65700282049</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.garrytech.applyingPressure</string>
	<key>PROJECT_ID</key>
	<string>applyingpressure-a0205</string>
	<key>STORAGE_BUCKET</key>
	<string>applyingpressure-a0205.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:65700282049:ios:83466a551aff7bd0915e40</string>
</dict>
</plist>